@font-face {
    font-family: alice;
    src: url(./assets/astroz/Astroz\ Trial.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: "Inter", sans-serif;
}
body,html{
    height:100%;
    width:100%;
}
.hero{
    height:100vh;
    width:100%;
    background: #e7e0e0;
    position: relative;
    z-index: 2;
}
.logo{
    font-family: alice;
    font-size: 30px;
}
.navhero{
    background: #f2f2f4;
    width:70%;
    display:flex;
    padding:15px;
    align-items: center;
    position: fixed;
    top: 10px;
    border-radius: 10px;
    justify-content:space-between;
    margin-left: 15%;
}
.bhero{
    gap:13px;
    display: flex;
}
.browser{
    padding:10px 15px;
    background: #e7e0e0;
    border-radius: 8px;
    border:0;
    text-transform: capitalize;
}
.orders{
    padding:10px 17px;
    background: rgb(14, 15, 15);
    border-radius:8px;
    border:0;
    text-transform: capitalize;
    color:#fff;
}
.hvideo{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
}
.video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.hmid{
    position: absolute;
    top:30%;
    left:10%;
    color:#fff;
}
.topic{
    font-size: 20px;
    text-transform: uppercase;
}
.cont{
    font-size: 70px;
    font-family: alice;
}
.hfooter{
    position: absolute;
    bottom: 10%;
    right:10%;
    text-align: right;
}
.cont2{
    font-size: 20px;
    margin-bottom: 20px;
}
.char{
    font-size: 20px;
    padding: 20px 30px;
    background-color: #f4f1f1;
    border-radius: 30px;
}
.feathead{
    height: 70vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding 70px 20px;
    background: #dfdede;
}
.charsec{
    height: 70vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ftcont{
    padding: 10px 20px;
    font-size: 30px;
    font-family: alice;
    color: black;
}
.ftpara{
    padding: 20px 30px;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    width: 50%;
}
.charcard{
    height:100vh;
    width: 100%;;
    align-items: center;
    justify-content: center;
    background: #dfdede;
}
.topcard{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}
.bottomcard{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}
.card{
    background: rgb(60, 60, 129);
}
.cardtext{

}
.cardname{
    font-family: alice;
    color: bisque;
    font-size: 20px;
}
.charname{
    font-family: alice;
    color: bisque;
    font-size: 20px;
}
}
.cardtag{
    display: flex;
}
.cardbutton{

}
.charimg{
    height: 300px;
    position: absolute;
    top=-30px;
}